// Import page-specific CSS files here.
@import "home";

body {

    // background-color:#FFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #24a4c9;
    text-shadow: 0.1;
}


