.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(#24a4c9, #63b0c7, #fff );
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 50px;
  color: #fff;
  margin-top: auto;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.nav-link {
  color: #fff;
}
