.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(#24a4c9, #63b0c7, #ffffff);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #fff;
}
