.navbar-lewagon {
  background: linear-gradient(#046580, #63b0c7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 50px;
  color: #fff;
  margin-top: auto;


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  color: #fff;
}

.nav-link {
  color: #fff;
}
