
<div class="row justify-content-center">
  <div class="col-sm-6 mt-3">
    <h1><strong>Edit Product</strong></h1>


    <%= render "form", product: @product %>

    <div class="mt-3">
      <%= link_to "Back to Products", root_path, class: "btn btn-primary btn-form" %>
    </div>

  </div>
</div>
