<div class="container text-center">
  <h1><strong>All Products</strong></h1>

  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product %>
      <%= product.description %>
      <%= product.price %></li>
    <% end %>
  </ul>

  <%= link_to "Insert Product", new_product_path, class: "btn btn-primary" %>
</div>
