<div class="container">

<h1 class="text-center mt-5 mb-5"><strong>My Available products</strong></h1>

  <div class="row">

      <% @products.each do |product| %>
        <div class="col-4">
          <%= link_to product, class: "text-decoration-none" do %>
            <div class="card m-auto mb-5"  style="width: 18rem;">
              <%= image_tag "guarda-sol.jpg", class: "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title"><strong><%= product.name %></strong></h5>

                <p class="card-text text-end"><%= number_to_currency(product.price, unit: "R$ ", separator: ",", delimiter: "") %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

  </div>
</div>
