<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h1 class="mt-3">New</h1>
      <%= render "form", product: @product %>

      <div>
        <%= link_to "Back to Products", root_path, class: "btn btn-secondary mt-3 mb-3" %>
      </div>

    </div>
  </div>
</div>
