<div class="container">
  <div class="row justify-content-center mt-5">
    <h1 class="text-center mb-5">My Rented Products</h1>

    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product %>
        <%= product.description %>
        <%= product.price %></li>
      <% end %>
    </ul>

  </div>
</div>
